[Unit]
Description=Starting web-app 
After=network.target

[Service]  
User=csye6225
WorkingDirectory=/home/webapp-main
Environment="PORT=3000"
Environment="HOST=127.0.0.1"
Environment="DATABASE=ugr"
Environment="DB_USER=root"
Environment="PASSWORD=asb!12345"
Type=Simple
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/node /home/webapp-main/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target