[Unit]
Description=Starting web-app 
After=network.target

[Service]  
User=csye6225
WorkingDirectory=/home/webapp-main
Type=simple
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/node /home/webapp-main/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target